<header style="overflow-x: hidden">
      <div class="opacity_image">
        <div class="container">
          <div class="row">
          </div>
        </div>

        <!--Bar Personal-->

        <div class="main">
          <div class="container">
            <h1>WELCOME TO TRADEROUTES!<h1>
          </div>
        </div>

        <div class="bar_personal">
            <div class="container">
              <ul>
                <li class="social-facebook"><a href="http://www.facebook.com/ryanchenlee" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li class="social-twitter"><a href="http://www.twitter.com/ryanchenlee" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li class="social-youtube"><a href="http://www.youtube.com/ryanchenlee" target="_blank"><i class="fa fa-youtube"></i></a></li>
    <li class="social-linkedin"><a href="http://www.linkedin.com/in/ryanchenlee" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
        </div>
        <!--Bar Personal-->

      </div>
    </header>s