
<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="section-heading">
        <h2>Tab through to see projects Ryan is working on!</h2>
        <i class="fa fa-2x fa-angle-down"></i>
        <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ul id="projects" class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Draggable Divs</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">jQuery Snake</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Super jQuery Bros</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div>
      <div id="sandbox" class = "container">
        <div id="drop" class="elem bigger proj-right"></div>
        <div id="draggable1" class="ui-widget-content"></div>
        <div id="draggable2" class="ui-widget-content"></div>
      </div>

      <div class="container">
        <div class="row">
        <h1></h1>
        </div>
        <div class="row">
          <pre id="coordinates" style="text-align:center">
            <div class="col-sm-6 col-md-6">
              <p style="text-decoration:underline">Left Coordinates:</p>
              <div id="log"></div>
            </div>
            <div class="col-sm-6 col-md-6">
              <p style="text-decoration:underline">Right Coordinates:</p>
              <div id="log-right"></div>
            </div>
          </pre>
        </div>
      </div>
    </div>
    </div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>
  